@import "tailwindcss";

@theme {
  --color-jet: #2f2f2f;
  --color-sand-dune: #8c7a6b;
  --color-pantone: #355c7d;
  --color-olivine: #9caf6c;

  --color-cream: #ece7df;
  --color-warm-white: #f8f5f0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ece7df;
  color: #2f2f2f;
}